@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
body {
  font-size: 18px;
}
/* .card___link:after {
  content: "";
  height: 10px;
  width: 100%;
  background-color: yellow;
  display: inline-block;
} */
